@media (max-width: 575.98px) {
  section {
    padding: 70px 0
  }
  section .details {
    flex-direction: column;
    width: 90%;
  }
  section .info-text {
    order: 1;
    text-align: center;
    padding: 70px 0;
    width: 85%;
    margin: auto;
    gap: 15px;
  }
  section .info-text h1 {
    font-size: 2em;
    line-height: 1.2;
  }
  section .info-text p {
    line-height: 1.9;
  }
  section .info-text ul {
    flex-direction: column;
    justify-content: center;
  }
  section .img .img-desktop {
    display: none;
  }
  section .img::after {
    height: 99%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  section {
    padding: 70px 0
  }
  section .details {
    flex-direction: column;
    width: 90%;
  }
  section .info-text {
    order: 1;
    text-align: center;
    gap: 15px;
  }
  section .info-text h1 {
    font-size: 2em;
    line-height: 1.2;
  }
  section .info-text p {
    line-height: 1.9;
  }
  section .info-text ul {
    flex-direction: column;
    justify-content: center;
  }
  section .img .img-desktop {
    display: none;
  }
  section .img::after {
    height: 99.2%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  section .details {
    width: 90%;
  }
  section .img .img-moblie {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  section .details {
    width: 90%;
  }
  section .img .img-moblie {
    display: none;
  }
}

@media (min-width: 1200px) { 
  section .img .img-moblie {
    display: none;
  }
}